<!-- wp:template-part {"slug":"header","theme":"Baggykooks","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"padding":{"right":"10rem","left":"10rem","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"blockGap":"0"},"color":{"background":"#d6d6d694"},"elements":{"button":{"color":{"text":"#cadeeb"}}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group has-background"
    style="background-color:#d6d6d694;margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:var(--wp--preset--spacing--20);padding-right:10rem;padding-bottom:var(--wp--preset--spacing--20);padding-left:10rem">
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|50"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-white-background-color has-background"
        style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--50)">
        <!-- wp:heading {"textAlign":"center","style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"0","bottom":"0"},"margin":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"0","bottom":"0"}},"border":{"width":"1px","color":"#000000","radius":"5px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"black","textColor":"white"} -->
        <h2 class="wp-block-heading has-text-align-center has-border-color has-white-color has-black-background-color has-text-color has-background has-link-color"
            style="border-color:#000000;border-width:1px;border-radius:5px;margin-top:0;margin-right:var(--wp--preset--spacing--80);margin-bottom:0;margin-left:var(--wp--preset--spacing--80);padding-top:0;padding-right:var(--wp--preset--spacing--80);padding-bottom:0;padding-left:var(--wp--preset--spacing--80)">
            Tote Elegance – Casual Tote Bag</h2>
        <!-- /wp:heading -->

        <!-- wp:nextend/smartslider3 {"slider":"3"} -->
        <div class="wp-block-nextend-smartslider3">[smartslider3 slider="3"]</div>
        <!-- /wp:nextend/smartslider3 -->

        <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"},"blockGap":"0","margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
        <div class="wp-block-group"
            style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)">
            <!-- wp:columns -->
            <div class="wp-block-columns"><!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:buttons {"style":{"spacing":{"padding":{"right":"0","left":"0"},"blockGap":{"top":"0","left":"0"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
                    <div class="wp-block-buttons" style="padding-right:0;padding-left:0">
                        <!-- wp:button {"textAlign":"center","backgroundColor":"black","width":75,"className":"is-style-fill","style":{"border":{"radius":"3px"},"elements":{"link":{"color":{"text":"#ffffffb5"}}},"color":{"text":"#ffffffb5"},"typography":{"fontStyle":"italic","fontWeight":"400"},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
                        <div class="wp-block-button has-custom-width wp-block-button__width-75 is-style-fill"><a
                                class="wp-block-button__link has-black-background-color has-text-color has-background has-link-color has-text-align-center wp-element-button"
                                style="border-radius:3px;color:#ffffffb5;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);font-style:italic;font-weight:400"><strong>Add
                                    To Cart</strong></a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:buttons {"style":{"spacing":{"blockGap":{"top":"0","left":"0"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"textAlign":"center","backgroundColor":"black","width":75,"style":{"border":{"radius":"3px"},"elements":{"link":{"color":{"text":"#ffffffb5"}}},"color":{"text":"#ffffffb5"},"typography":{"fontStyle":"italic","fontWeight":"400"},"spacing":{"padding":{"left":"0","right":"0","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
                        <div class="wp-block-button has-custom-width wp-block-button__width-75"><a
                                class="wp-block-button__link has-black-background-color has-text-color has-background has-link-color has-text-align-center wp-element-button"
                                style="border-radius:3px;color:#ffffffb5;padding-top:var(--wp--preset--spacing--40);padding-right:0;padding-bottom:var(--wp--preset--spacing--40);padding-left:0;font-style:italic;font-weight:400"><strong>Wishlist</strong></a>
                        </div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
        </div>
        <!-- /wp:group -->

        <!-- wp:columns -->
        <div class="wp-block-columns"><!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"blockGap":"var:preset|spacing|30"},"border":{"width":"1px"}},"borderColor":"black","layout":{"type":"constrained"}} -->
                <div class="wp-block-group has-border-color has-black-border-color"
                    style="border-width:1px;margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--30)">
                    <!-- wp:heading {"level":3,"style":{"border":{"radius":"5px"},"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
                    <h3 class="wp-block-heading"
                        style="border-radius:5px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                        <strong>Product Details :</strong></h3>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} -->
                    <p
                        style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                        Crafted from high-quality cotton canvas, this tote is both stylish and functional. Ideal for
                        everyday carry, travel, and work chic.</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:heading {"level":3,"style":{"border":{"radius":"5px"},"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
                    <h3 class="wp-block-heading"
                        style="border-radius:5px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                        <strong>Material &amp; Care :</strong></h3>
                    <!-- /wp:heading -->

                    <!-- wp:list -->
                    <ul class="wp-block-list"><!-- wp:list-item -->
                        <li>Durable double-stitched handles</li>
                        <!-- /wp:list-item -->

                        <!-- wp:list-item -->
                        <li>Water-resistant inner lining</li>
                        <!-- /wp:list-item -->

                        <!-- wp:list-item -->
                        <li>Spacious compartments</li>
                        <!-- /wp:list-item -->

                        <!-- wp:list-item -->
                        <li>Eco-friendly materials</li>
                        <!-- /wp:list-item -->
                    </ul>
                    <!-- /wp:list -->

                    <!-- wp:heading {"level":3,"style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"0","bottom":"0"}}}} -->
                    <h3 class="wp-block-heading"
                        style="padding-top:0;padding-right:var(--wp--preset--spacing--20);padding-bottom:0;padding-left:var(--wp--preset--spacing--20)">
                        <strong>Size &amp; Fit :</strong></h3>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"0","left":"0","top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
                    <p
                        style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                        Dimensions: 31 x 26.5 x 14.5 cm (L x H x W)</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:heading {"level":3,"style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"0","bottom":"0"}}}} -->
                    <h3 class="wp-block-heading"
                        style="padding-top:0;padding-right:var(--wp--preset--spacing--20);padding-bottom:0;padding-left:var(--wp--preset--spacing--20)">
                        <strong>Specification :</strong></h3>
                    <!-- /wp:heading -->

                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"bottom":{"color":"#979797","width":"1px"},"top":{},"right":{},"left":{}}}} -->
                        <div class="wp-block-column"
                            style="border-bottom-color:#979797;border-bottom-width:1px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                            <!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"#979797"}}},"color":{"text":"#979797"}}} -->
                            <p class="has-text-color has-link-color" style="color:#979797;font-size:14px">Type</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>Tote Bag</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"bottom":{"color":"#979797","width":"1px"},"top":{},"right":{},"left":{}}}} -->
                        <div class="wp-block-column"
                            style="border-bottom-color:#979797;border-bottom-width:1px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                            <!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"#979797"}}},"color":{"text":"#979797"}}} -->
                            <p class="has-text-color has-link-color" style="color:#979797;font-size:14px">Size</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>Regular</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->

                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"bottom":{"color":"#979797","width":"1px"},"top":{},"right":{},"left":{}}}} -->
                        <div class="wp-block-column"
                            style="border-bottom-color:#979797;border-bottom-width:1px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                            <!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"#979797"}}},"color":{"text":"#979797"}}} -->
                            <p class="has-text-color has-link-color" style="color:#979797;font-size:14px">Print or
                                Patterns Type</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>Solid</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"bottom":{"color":"#979797","width":"1px"},"top":{},"right":{},"left":{}}}} -->
                        <div class="wp-block-column"
                            style="border-bottom-color:#979797;border-bottom-width:1px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                            <!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"#979797"}}},"color":{"text":"#979797"}}} -->
                            <p class="has-text-color has-link-color" style="color:#979797;font-size:14px">Handles </p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>Two Handles</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->

                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"bottom":{"color":"#979797","width":"1px"},"top":{},"right":{},"left":{}}}} -->
                        <div class="wp-block-column"
                            style="border-bottom-color:#979797;border-bottom-width:1px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                            <!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"#979797"}}},"color":{"text":"#979797"}}} -->
                            <p class="has-text-color has-link-color" style="color:#979797;font-size:14px">Occasion</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>Casual</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"bottom":{"color":"#979797","width":"1px"},"top":{},"right":{},"left":{}}}} -->
                        <div class="wp-block-column"
                            style="border-bottom-color:#979797;border-bottom-width:1px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                            <!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"#979797"}}},"color":{"text":"#979797"}}} -->
                            <p class="has-text-color has-link-color" style="color:#979797;font-size:14px">Trend</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>Structured</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->

                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"bottom":{"color":"#979797","width":"1px"},"top":{},"right":{},"left":{}}}} -->
                        <div class="wp-block-column"
                            style="border-bottom-color:#979797;border-bottom-width:1px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                            <!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"#979797"}}},"color":{"text":"#979797"}}} -->
                            <p class="has-text-color has-link-color" style="color:#979797;font-size:14px">Number of main
                                Compartments</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>1</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"bottom":{"color":"#979797","width":"1px"},"top":{},"right":{},"left":{}}}} -->
                        <div class="wp-block-column"
                            style="border-bottom-color:#979797;border-bottom-width:1px;padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                            <!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"#979797"}}},"color":{"text":"#979797"}}} -->
                            <p class="has-text-color has-link-color" style="color:#979797;font-size:14px">Tablet Sleeve
                            </p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>Yes</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->

                    <!-- wp:read-more {"content":"See More","style":{"typography":{"textDecoration":"underline"}}} /-->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"blockGap":"0"},"border":{"left":{"color":"var:preset|color|black","width":"1px"},"top":[],"right":[],"bottom":[]}}} -->
            <div class="wp-block-column"
                style="border-left-color:var(--wp--preset--color--black);border-left-width:1px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--40)">
                <!-- wp:heading {"textAlign":"left","level":3,"style":{"spacing":{"margin":{"right":"0","left":"0","top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} -->
                <h3 class="wp-block-heading has-text-align-left"
                    style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
                    <strong>Delivery Options&nbsp;</strong></h3>
                <!-- /wp:heading -->

                <!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"blockGap":{"top":"0","left":"0"}},"typography":{"fontSize":"16px"}}} -->
                <div class="wp-block-columns are-vertically-aligned-center"
                    style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:var(--wp--preset--spacing--20);padding-bottom:0;padding-left:var(--wp--preset--spacing--20);font-size:16px">
                    <!-- wp:column {"verticalAlignment":"center","width":"100%"} -->
                    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:100%">
                        <!-- wp:search {"label":"","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Check","buttonPosition":"button-inside","align":"center"} /-->

                        <!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"typography":{"fontSize":"15px"}}} -->
                        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:15px">Please enter
                            PIN code to check delivery time &amp; Pay on Delivery Availability</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->

                <!-- wp:spacer {"height":"24px"} -->
                <div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->

                <!-- wp:paragraph -->
                <p>100% Original Products</p>
                <!-- /wp:paragraph -->

                <!-- wp:paragraph -->
                <p>Pay on delivery might be available</p>
                <!-- /wp:paragraph -->

                <!-- wp:paragraph -->
                <p>Easy 7 days returns and exchanges</p>
                <!-- /wp:paragraph -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->

    <!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"blockGap":{"top":"0","left":"0"}},"typography":{"fontSize":"22px"}},"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons has-custom-font-size"
        style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);font-size:22px">
        <!-- wp:button {"textAlign":"center","width":25,"className":"is-style-fill","style":{"spacing":{"padding":{"left":"0","right":"0","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"border":{"radius":"3px"},"color":{"background":"#222222"}}} -->
        <div class="wp-block-button has-custom-width wp-block-button__width-25 is-style-fill"><a
                class="wp-block-button__link has-background has-text-align-center wp-element-button"
                style="border-radius:3px;background-color:#222222;padding-top:var(--wp--preset--spacing--30);padding-right:0;padding-bottom:var(--wp--preset--spacing--30);padding-left:0">View
                Similar Products</a></div>
        <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"Baggykooks"} /-->